{% extends 'base.html.twig' %}

{% block body %}
    <div class="card shadow mx-auto" style="width: 80%;">
        <div class="p-3 m-0">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="d-flex justify-content-center align-items-center">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}</a>
                    </div>
                {% else %}
                    <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
                    <label class="m-1" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label class="m-1" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" name="_remember_me"><label>Ce souvenir de moi (30 jours)</label>
                    </div>
                    <button class="btn" type="submit">S'identifier</button>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}
