{% extends 'base.html.twig' %}

{% block body %}
    <div class="card shadow mx-auto" style="width: 80%;">
        <div class="p-3 m-0">
            <h1 class="text-center">Edit Books</h1>
            {{ include('books/_form.html.twig', {'button_label': 'Valider'}) }}
            <a class="btn" href="{{ path('app_books_index') }}">Retour</a>
            {{ include('books/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
