{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1>About KynZo Dev Web</h1>
            <img class="rounded mx-auto d-block" src="{{ asset('/img/logo_avatar.png') }}" alt="Logo-KynZo">
        </div>
    </div>
{% endblock %}
