{% extends 'base.html.twig' %}

{% block title %}Media Chapelle Curaux{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/style.css') }}">
{% endblock %}

{% block body %}
    <section>
        <header>
            <a href="#" class="logo">Médiathèque</a>
            <div class="toggle"></div>
            <ul class="navigation">
                <li><a href="#" style="--i:1;" class="active">Catalogue</a></li>
                <li><a href="#" style="--i:2;">Réservation</a></li>
                <li><a href="#" style="--i:3;">Toute Réservation</a></li>
                <li><a href="#" style="--i:4;">Ajouter Livre</a></li>
                <li><a href="#" style="--i:5;">Déconnexion</a></li>
            </ul>
        </header>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        const menuToggle = document.querySelector('.toggle');
        const navigation = document.querySelector('.navigation');
        menuToggle.onclick = function(){
            menuToggle.classList.toggle('active')
            navigation.classList.toggle('active')
        }
    </script>
{% endblock %}
